---
import Card from '../components/Card.astro';
import Socials from '../components/Socials.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Austin Krueger | Senior Software Engineer">
	<main>
		<section class="card flex flex-col pt-8">
			<div class="my-4 pl-8 pr-8">
				<div class="flex flex-wrap sm:justify-between justify-center items-center mb-8">
					<h1 class="title">
						Hello there!
					</h1>
					<a href="mailto:me@austinkrueger.dev" class="btn"><p>Get in touch</p></a>		
				</div>
				<h2 class="tagline-sub my-4">My name is Austin.</h2>
				<p class="my-4">I&apos;m a senior software engineer.</p>
				<p class="mt-4">During the day, I&apos;m working throughout the stack on some bleeding edge legal tech over at <a href="https://www.expertinstitute.com" class="highlight-link">Expert Institute</a><span>.</span></p>
				<p class="mt-4">In my free time, I&apos;m tooling on a few different things:</p>
				<ul class="mt-4">
					<li>Learning about Rust and memory-safety</li>
					<li>Gaining an understanding of how SEO works in a practical sense</li>
					<li>Building a reusable UI component library for React</li>
					<li>Discovering what the hype is with Next.js</li>
				</ul>
			</div>
			<div class="mt-8 mb-4 pl-8 pr-8">
				<h3 class="section-subtitle tracking-widest">Recent Projects</h3>
				<Card title="staticli" href="https://www.github.com/austinkrueger/staticli" body="Rust-based CLI tool to check the status of any website"/>
				<Card title="github/austinkrueger" href="https://www.github.com/austinkrueger" body="Link to all my current (old) projects"/>
			</div>
			<div class="mt-4 mb-8 pl-8 pr-8">
				<h3 class="section-subtitle tracking-widest">Contact</h3>
				<Socials />
			</div>
		</section>	
	</main>
</Layout>

<style>
	/* Semantic Styles */
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 100ch;
	}
	section {
		width: 100%;
	}
	p {
		margin-top: 1rem;
		margin-bottom: 0;
		color: #222;
	}
	article {
		margin-right: 2rem;
		min-width: 40ch;
        max-height: 40ch;
	}
	li {
		list-style-type: disc;
		margin-left: 3ch;
	}

	/* Semantic + Class */
	h1.title {
		font-size: 2rem;
		font-weight: 600;
	}
	h2.tagline-sub {
		font-size: 1.4rem;
		font-weight: 900;
	}
	h3.section-subtitle {
		font-size: 0.925rem;
		font-weight: 600;
		text-transform: uppercase;
	}

	/* Classes */
	.card {
		list-style: none;
		padding: 0.5rem;
		background-color: white;
		background-image: none;
		background-size: 400%;
		border-radius: 0.6rem;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
	}

	.btn {
		border-radius: 0.4rem;
		text-decoration: none;
		position: relative;
		padding: 16px;
		border: 1px solid white;
		z-index: 20;
		background-color: white;
		background-image: none;
		background-size: 400%;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}

	.btn:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}

</style>
