---
const socials = [
    {
      "name": "LinkedIn",
      "icon": "../linkedin.svg",
      "link": "https://www.linkedin.com/in/austin-krueger/",
      "display": "linkedin.com/in/austin-krueger"
    },
    {
      "name": "Email",
      "icon": "../email.svg",
      "link": "mailto:me@austinkrueger.dev",
      "display": "me@austinkrueger.dev"
    },
    {
      "name": "GitHub",
      "icon": "../github.svg",
      "link": "https://www.github.com/austinkrueger",
      "display": "austinkrueger"
    },
    {
      "name": "Twitter",
      "icon": "../twitter.svg",
      "link": "https://www.twitter.com/returnoftheack",
      "display": "@returnoftheack"
    }
];

interface SocialLink {
    icon: string;
    link: string;
    display: string;
    name: string;
}
---
<div class="flex flex-col mt-2">
    {socials.map((social: SocialLink) => (
        <>
        <div class="flex items-center rounded">
            <img
                src={social.icon}
                alt={social.name}
                class="m-3 ml-0"
                height={20}
                width={20}
            />
            <a class="highlight-link" href={social.link} target="_blank">
                <p class="text-sm font-medium">{social.display}</p>
            </a>
        </div>
    </>))}
</div>
<style>
    img {
        filter: brightness(0%);
    }
</style>